<% if  @bar.comments.count > 0 %>


    <% if current_user.nil? %>
        <p><%= link_to "Connectez vous", "/auth/facebook", id: "sign_in_two" %>pour noter ce bar</p>
    <% else

        if user_already_comment(@bar, current_user)  %>
            <p>Vous avez déjà noté ce bar</p>
        <% else  %>
            <%= render "comments/form" %>
        <% end %>

    <% end %>
<% else %>
    <p>Soyez le premier à commenter ce bar !</p>

    <%= render "comments/form" %>

<% end %>