<% if member_already_comment(@bar, current_member) %>
    <small>You'd already comment this bar</small>
<% else %>
    <%= render "comments/form" %>
<% end %>
<% if  @bar.comments.count > 0 %>
    <%= render @bar.comments %>
<% else %>
    <h2>There's no comments yet for this bar ! Add one</h2>
<% end %>
