<% if current_user.nil? %>
    <p class="cntfb-rate">Veuillez-vous connecter pour noter le bar !</p>
<% else

    if user_already_comment(@bar, current_user)  %>
        <p class="already-noted">Vous avez déjà noté ce bar</p>
    <% else  %>
        <p> Votre Note : </p>
        <%= render "comments/form" %>
    <% end %>

<% end %>