<div id="new-bar">
    <h2>Ajoutez un bar !</h2>
    <% if member_signed_in? %>
         <%= render 'form' %>
         <%= javascript_tag "autocompleteNew()" %>
    <% else %>
      <div id="signIn">
        <%= javascript_tag "showSignIn()" %>
      </div>
    <% end %>
    <div id="close-new">[x]</div>
</div>