<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="header">Paye ta pinte</div>

<div id="map"></div>

<div id="bars">
  <div id="cache-container">
    <div id="bars-container"></div>
  </div>

  <div id="page-container">
    <div id="bar-page"></div>
  </div>
</div>


