<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="header">
  <%= image_tag "Logo.png" %>
  <div id="btn-opt">
    +
  </div>
</div>
<div id="options">
  <input id="pac-input" class="controls" type="search" placeholder="Voir les bars à..." >
</div>
  

<!-- <div id="loader">
  <%= image_tag "icons/loader.gif" %>
</div> -->
<div id="map"></div>

<div id="bars">
  <div id="cache-container">
    <div id="bars-container"></div>
  </div>

  <div id="page-container">
    <div id="bar-page"></div>
  </div>
</div>

