<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="header">Paye ta pinte</div>

<div id="map"></div>

<div id="bars-container"></div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
