<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="header">
  <%= image_tag "Logo.png" %>
</div>
<div id="options">
  <small id="add-bar">Add a Bar</small>
  <input id="pac-input" class="controls" type="text" placeholder="Rechercher un lieu...">
</div>

<div id="loader">
  <%= image_tag "icons/loader.gif" %>
</div>
<div id="map"></div>

<div id="others"></div>

<div id="bars">
  <div id="cache-container">
    <div id="bars-container"></div>
  </div>

  <div id="page-container">
    <div id="bar-page"></div>
  </div>
</div>

