<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="header">
  <h1>Paye ta pinte</h1>
  <br>
  <p id="add-bar">Add a Bar</p>
</div>

<div id="map"></div>

<div id="others"></div>

<div id="bars">
  <div id="cache-container">
    <div id="bars-container"></div>
  </div>

  <div id="page-container">
    <div id="bar-page"></div>
  </div>
</div>


