<div class="fiche-bar">
  <p>
    <h3><%= @bar.name %></h3>
  </p>

  <p class="price">
    <%= @bar.price %>€
  </p>

  <p class="address">
    <%= @bar.address %>
  </p>

  <p class="global-rate">
    <%= give_bar_rate(@bar) %>/5
  </p>
  <div class="close">[x]</div>
</div>
