<div class="preview-container">
  <div class="preview" data-id-bar="<%= @bar.id %>">
    <div class="price prev-bloc">
      <p><%= @bar.price %>€</p>
    </div>
    <div class="main prev-bloc">
      <h2><%= @bar.name %></h2>
      <small class="distance"></small>
      <small class="ambiance"><%= give_bar_rate(@bar) %>/5</small>
    </div>
    <div class="more-btn prev-bloc">
      >
    </div>
  </div>
</div>