// Place all the styles related to the Bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bars{
  width: 200%;
  position: absolute;
  height: 200px;
  bottom: 0;
  z-index: 10;
  -moz-box-shadow: 0px 0px 22px 0px #656565;
  -webkit-box-shadow: 0px 0px 22px 0px #656565;
  -o-box-shadow: 0px 0px 22px 0px #656565;
  box-shadow: 0px 0px 22px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=22);
  #cache-container{
    height: 100%;
    z-index: 10;
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: $grey;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  #bars-container{
    width: 50%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 100;
    color: white;
    .preview-container{
      height: 60px;
      width: 100%;
      .preview{
        height: 48px;
        padding: 6px;
        position: relative;
        border-bottom: 1px #eee solid;
        .prev-bloc{
          float: left;
          position: relative;
        }
        .main{
          width: 70%;
          margin-top: 5px;
          
          .name-container{
            height: 40px;
            display: table;
            text-align: center;
            width: 70%;
            margin-left: 1%;
          }
          h2{
            margin: 2px auto 0;
            font-size: 16px;
            text-transform: uppercase;
            color: $yellow;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            font-weight: bolder;
          }
          .distance{
            font-size: 14px;
            position: absolute;
            right: 2px;
            top: 13px;
            font-weight: lighter;
            float:right;
          }
        }
        .price{
          width: 19%;
          .beer-price{
            margin-top: 13px;
            font-size: 20px;
            text-align: center;
            font-weight: 700;
            span{
              font-size: 14px;
              font-weight: bolder;
            }
          }
        }
        .more-btn{
          width: 7%;
          height: 38px;
          margin-top: 14px;
          background: image-url("icons/white-right.png") no-repeat;
          float:right;
        }
      }
    }

    .prev-opened{
      background-color: $yellow;
      color: $grey;
      .preview{
        .main h2{
          color: $grey;
        }
        .more-btn{
          background: image-url("icons/black-right.png") no-repeat;
        }
      }
    }


  }
  #page-container{
    position: absolute;
    z-index: 300;
    bottom:0;
    right: 0;
    height: 220px;
    width: 50%;
    color: white;
    .open {
      bottom: 0px;
    }
    #fiche-bar {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: $grey;
      h3{
        text-align: center;
        font-size: 26px;
        color: $yellow;
        max-width: 80%;
        margin: 10px auto 0px;
        font-family: $mtserra;
        font-weight: bolder;
        text-transform: uppercase;
      }
      h3.long-name{
        font-size: 20px;
      }
      .address{
        font-size: 12px;
        font-family: $mtserra;
        font-weight: lighter;
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
      }
      .page-distance{
        text-align: center;
        padding-top: 3px;
        font-weight: lighter;
        font-size: 12px;
        span{
          font-size: 16px;
        }
      }
      .plus{
        margin-top: 16px;
        height: 30px;
        width: 100%;
        background-color: $yellow;
        .direction{
          width: 50%;
          height: 30px;
          vertical-align: top;
          display: inline-block;
          float: left;
          img{
            height: 17px;
            width: 17px;
            margin: 6px;
            margin-left: 15px;
            display: inline-block;
          }
          p{
            display: inline-block;
            vertical-align: top;
            margin-top: 7px;
            a{
              text-decoration: none;
              color: #000000;
              text-transform: uppercase;
              font-weight: bolder;
              font-size: 14px;
            }
          }
        }
        #rate{
          width: 50%;
          height: 30px;
          vertical-align: top;
          display: table;
          float: left;
          p{
            color: #000000;
            font-size: 12px;
            text-transform: uppercase;
            vertical-align: middle;
            text-align: center;
            display: table-cell;
          }
        }
      }
      .under{
        width: 100%;
        height: 60px;
        margin-top: 16px;
        //position: absolute;
        //bottom: 10px;
        .left, .right{
          width: 50%;
          float: left;
          height: 60px;
        }
        .left{
          margin-right: -1px;
          border-right: 1px solid #ffffff;
        }
        .price{
          font-size: 40px;
          text-align: center;
          margin-top: 10px;
          span{
            font-size: 24px;
            font-weight: bolder;
          }
        }
        .right{
          text-align: center;
        }
        .bold{
          font-weight: bold;
          color: $yellow;
        }
        .happy-title {
          margin-top: 2px;
          font-size: 16px;
        }
        .hours{
          font-size: 18px;

        }
        .happy-price {
          font-size: 20px;
          margin-top: 3px;
          color: $yellow;
        }
        
      }

      .close {
        position: absolute;
        top: 12px;
        left: 10px;
        cursor: pointer;
        img{
          height: 24px;
        }
      }
    }
  }
}
#new-rate{
  width: 200px;
  height: 100px;
  background-color: rgba(51, 51, 51, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 1000;
}

#new-bar{
  padding: 40px;
  position: relative;
  #close-new{
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.avis{
  width: 50px;
  height: 13px;
  overflow: hidden;
  position: relative;
  img{
    width: 100%;
    height: 100%;
    z-index: 200;
    position: relative;
  }
  .jauge{
    background-color: #ffe73e;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 100;
  }
  .bg-jauge{
    background-color: #908e91;
    width: 99%;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 90;
  }
}