#mobile-container{
  width: 320px;
  height: 968px;
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  #header{
    height: 60px;
    z-index: 100;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  #map{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #cache-container{
    height: 170px;
    z-index: 100;
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    overflow-y: auto;
    #bars-container{
      position: relative;
      background-color: #fff;

    }
  }

}